**/bin/
**/obj/
packages/
/Scrabble.Lib.Test/Scrabble.Lib.Test/*.ncrunchproject
/Scrabble.Lib.Test/Scrabble.Lib.Test/bin/Debug/*.dll
/Scrabble.Lib.Test/Scrabble.Lib.Test/bin/Debug/*.pdb
/Scrabble.Lib.Test/Scrabble.Lib.Test/bin/Debug/*.xml
/Scrabble.Lib.Test/Scrabble.Lib.Test/obj/Debug/*.cache
/Scrabble.Lib.Test/Scrabble.Lib.Test/obj/Debug/*.txt
/Scrabble.Lib.Test/Scrabble.Lib.Test/obj/Debug/*.dll
/Scrabble.Lib.Test/Scrabble.Lib.Test/obj/Debug/*.pdb
/Scrabble.Lib.Test/Scrabble.Lib.Test/obj/Debug/*.cs
/Scrabble.Lib/Scrabble.Lib/*.ncrunchproject
/Scrabble.Lib/Scrabble.Lib/bin/Debug/*.dll
/Scrabble.Lib/Scrabble.Lib/bin/Debug/*.pdb
/Scrabble.Lib/Scrabble.Lib/obj/Debug/*.cache
/Scrabble.Lib/Scrabble.Lib/obj/Debug/*.txt
/Scrabble.Lib/Scrabble.Lib/obj/Debug/*.dll
/Scrabble.Lib/Scrabble.Lib/obj/Debug/*.pdb
/Scrabble.Lib/Scrabble.Lib/obj/Debug/*.cs
/*.ncrunchsolution
/*.user
/*.suo
/Scrabble/packages/Microsoft.AspNet.SignalR.2.0.2/*.nupkg
/Scrabble/packages/Microsoft.AspNet.SignalR.2.0.2/*.txt
/Scrabble/packages/Microsoft.AspNet.SignalR.Core.2.0.2/*.nupkg
/Scrabble/packages/Microsoft.AspNet.SignalR.Core.2.0.2/lib/net45/*.dll
/Scrabble/packages/Microsoft.AspNet.SignalR.Core.2.0.2/lib/net45/*.xml
/Scrabble/packages/Microsoft.AspNet.SignalR.JS.2.0.2/*.nupkg
/Scrabble/packages/Microsoft.AspNet.SignalR.JS.2.0.2/content/Scripts/*.js
/Scrabble/packages/Microsoft.AspNet.SignalR.SystemWeb.2.0.2/*.nupkg
/Scrabble/packages/Microsoft.AspNet.SignalR.SystemWeb.2.0.2/lib/net45/*.XML
/Scrabble/packages/Microsoft.AspNet.SignalR.SystemWeb.2.0.2/lib/net45/*.dll
/Scrabble/packages/Microsoft.Owin.2.1.0/*.nupkg
/Scrabble/packages/Microsoft.Owin.2.1.0/lib/net40/*.XML
/Scrabble/packages/Microsoft.Owin.2.1.0/lib/net40/*.dll
/Scrabble/packages/Microsoft.Owin.2.1.0/lib/net45/*.XML
/Scrabble/packages/Microsoft.Owin.2.1.0/lib/net45/*.dll
/Scrabble/packages/Microsoft.Owin.Host.SystemWeb.2.1.0/*.nupkg
/Scrabble/packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net40/*.dll
/Scrabble/packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net40/*.xml
/Scrabble/packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net45/*.dll
/Scrabble/packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net45/*.xml
/Scrabble/packages/Microsoft.Owin.Security.2.1.0/*.nupkg
/Scrabble/packages/Microsoft.Owin.Security.2.1.0/lib/net45/*.XML
/Scrabble/packages/Microsoft.Owin.Security.2.1.0/lib/net45/*.dll
/Scrabble/packages/Microsoft.Web.Infrastructure.1.0.0.0/*.nupkg
/Scrabble/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/*.dll
/Scrabble/packages/NUnit.2.6.4/*.nupkg
/Scrabble/packages/NUnit.2.6.4/lib/*.dll
/Scrabble/packages/NUnit.2.6.4/lib/*.xml
/Scrabble/packages/NUnit.2.6.4/*.txt
/Scrabble/packages/Newtonsoft.Json.6.0.3/*.nupkg
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/net20/*.dll
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/net20/*.xml
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/net35/*.dll
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/net35/*.xml
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/net40/*.dll
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/net40/*.xml
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/net45/*.dll
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/net45/*.xml
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/netcore45/*.dll
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/netcore45/*.xml
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/*.dll
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/*.xml
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/portable-net40+sl4+wp7+win8/*.dll
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/portable-net40+sl4+wp7+win8/*.xml
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/*.dll
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/*.xml
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/portable-net45+wp80+win8+wpa81/*.dll
/Scrabble/packages/Newtonsoft.Json.6.0.3/lib/portable-net45+wp80+win8+wpa81/*.xml
/Scrabble/packages/Newtonsoft.Json.6.0.3/tools/*.ps1
/Scrabble/packages/Owin.1.0/*.nupkg
/Scrabble/packages/Owin.1.0/lib/net40/*.dll
/Scrabble/packages/jQuery.1.10.2/Content/Scripts/*.js
/Scrabble/packages/jQuery.1.10.2/Content/Scripts/*.map
/Scrabble/packages/jQuery.1.10.2/Tools/*.ps1
/Scrabble/packages/jQuery.1.10.2/Tools/*.js
/Scrabble/packages/jQuery.1.10.2/*.nupkg
/Scrabble/packages/*.config
/TestRunner/*.ncrunchproject
/_NCrunch_Scrabble/*.cache
/packages/Microsoft.AspNet.SignalR.2.0.2/*.nupkg
/packages/Microsoft.AspNet.SignalR.2.0.2/*.txt
/packages/Microsoft.AspNet.SignalR.Core.2.0.2/*.nupkg
/packages/Microsoft.AspNet.SignalR.Core.2.0.2/lib/net45/*.dll
/packages/Microsoft.AspNet.SignalR.Core.2.0.2/lib/net45/*.xml
/packages/Microsoft.AspNet.SignalR.JS.2.0.2/*.nupkg
/packages/Microsoft.AspNet.SignalR.JS.2.0.2/content/Scripts/*.js
/packages/Microsoft.AspNet.SignalR.SystemWeb.2.0.2/*.nupkg
/packages/Microsoft.AspNet.SignalR.SystemWeb.2.0.2/lib/net45/*.XML
/packages/Microsoft.AspNet.SignalR.SystemWeb.2.0.2/lib/net45/*.dll
/packages/Microsoft.Owin.2.1.0/*.nupkg
/packages/Microsoft.Owin.2.1.0/lib/net40/*.XML
/packages/Microsoft.Owin.2.1.0/lib/net40/*.dll
/packages/Microsoft.Owin.2.1.0/lib/net45/*.XML
/packages/Microsoft.Owin.2.1.0/lib/net45/*.dll
/packages/Microsoft.Owin.Host.SystemWeb.2.1.0/*.nupkg
/packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net40/*.dll
/packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net40/*.xml
/packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net45/*.dll
/packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net45/*.xml
/packages/Microsoft.Owin.Security.2.1.0/*.nupkg
/packages/Microsoft.Owin.Security.2.1.0/lib/net45/*.XML
/packages/Microsoft.Owin.Security.2.1.0/lib/net45/*.dll
/packages/Microsoft.Web.Infrastructure.1.0.0.0/*.nupkg
/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/*.dll
/packages/NUnit.2.6.4/*.nupkg
/packages/NUnit.2.6.4/lib/*.dll
/packages/NUnit.2.6.4/lib/*.xml
/packages/NUnit.2.6.4/*.txt
/packages/Newtonsoft.Json.6.0.3/*.nupkg
/packages/Newtonsoft.Json.6.0.3/lib/net20/*.dll
/packages/Newtonsoft.Json.6.0.3/lib/net20/*.xml
/packages/Newtonsoft.Json.6.0.3/lib/net35/*.dll
/packages/Newtonsoft.Json.6.0.3/lib/net35/*.xml
/packages/Newtonsoft.Json.6.0.3/lib/net40/*.dll
/packages/Newtonsoft.Json.6.0.3/lib/net40/*.xml
/packages/Newtonsoft.Json.6.0.3/lib/net45/*.dll
/packages/Newtonsoft.Json.6.0.3/lib/net45/*.xml
/packages/Newtonsoft.Json.6.0.3/lib/netcore45/*.dll
/packages/Newtonsoft.Json.6.0.3/lib/netcore45/*.xml
/packages/Newtonsoft.Json.6.0.3/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/*.dll
/packages/Newtonsoft.Json.6.0.3/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/*.xml
/packages/Newtonsoft.Json.6.0.3/lib/portable-net40+sl4+wp7+win8/*.dll
/packages/Newtonsoft.Json.6.0.3/lib/portable-net40+sl4+wp7+win8/*.xml
/packages/Newtonsoft.Json.6.0.3/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/*.dll
/packages/Newtonsoft.Json.6.0.3/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/*.xml
/packages/Newtonsoft.Json.6.0.3/lib/portable-net45+wp80+win8+wpa81/*.dll
/packages/Newtonsoft.Json.6.0.3/lib/portable-net45+wp80+win8+wpa81/*.xml
/packages/Newtonsoft.Json.6.0.3/tools/*.ps1
/packages/Owin.1.0/*.nupkg
/packages/Owin.1.0/lib/net40/*.dll
/packages/jQuery.1.10.2/Content/Scripts/*.js
/packages/jQuery.1.10.2/Content/Scripts/*.map
/packages/jQuery.1.10.2/Tools/*.ps1
/packages/jQuery.1.10.2/Tools/*.js
/packages/jQuery.1.10.2/*.nupkg
.vs/
